body{
    background-image: url('../assets/Background\ 4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.flex-container{
    max-width:635px;
    height:304px;
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0 ;
    margin-bottom: 310.5px;
}
.technology-header{
    display: flex;
    margin-top: 48px;
    margin-left: 165px;
    font-size: 28px;
    font-family: "Barlow Condensed";
    margin-bottom: 215px;
    margin-right: 0;
    width:288px;
    height: 34px;
}
.rocket{
    width: 420px;
    height:420px;
    position: relative;
    top: -67px;
}
.btn-wrapper{
    margin-left: 165px;
}
.btn{
    width:80px;
    height:80px;
    border-radius: 999px;
    border: 1px solid white;
    margin-bottom: 32px;
    background-color: transparent;
    color: white;
    font-size: 32px;
    font-family: "Bellefair";
    padding: 0;

}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.inner-container{
    margin: 0px !important;
    padding: 0px !important;
    padding-top: 20px;
}
.technology-head{
    width:491px;
    height:37px;
    margin-left: 64px;
    font-size: 32px;
    font-family: "Bellefair";
    color: #D0D6F9;
    margin-bottom: 16px;
}
.technology-title{
    width:491px;
    height:64px;
    font-family: "Bellefair";
    font-size: 56px ;
    color: white;
    margin-top: 16px;
    padding: 0;
    margin-left: 64px;
    margin-bottom: 26px;
}
.technology-bio{
    width:491px;
    height:160px;
    color: #D0D6F9;
    font-size: 18px ;
    font-family: "Barlow";
    margin-left:64px ;
    margin-top: 26px;
    margin-right: 32px;
}