*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    max-width: 1440px;
}
.main{
    background-image: url('./assets/background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width:736px;
    height:96px;
    margin-top: 40px;
    margin-left: 704px;
    margin-right: 0px;
    backdrop-filter: blur(5px);
    padding: 0;
}
ul{
    display: flex;
    align-items: center;
    color: white;
    border: none;
    margin: 0;
    padding: 0;
}
strong{
    margin-right: 6px;
    font-weight: 500;
}
ul li {
    margin-top: 38.5px;
    margin-bottom: 38.5px;
    margin-left: 48px;
    list-style-type: none;
    width: 74px;
    padding: 0;
}
ul:hover{
    cursor: pointer;
}
main{
    width: 1440px;
    margin:0;
    padding: 0;

}
.hero{
    max-width: 1110px;
    height: 632px;
    color: white;
    margin-left: 165px;
    margin-top: 128px;
    margin-bottom: 128px;
    display: flex;
    align-items: center;
}
.text-one{
    color: #D0D6F9;
    font-size: 28px;
    text-align: left;
    margin-bottom: 24px;
    margin-right: 0;
}
h1{
    font-size: 144px;
    text-align: left;
    width: 540px;
    height: 165px;
    margin-right: 0;
}
.text-two{
    margin-top: 24px;
    width: 540px;
    height: 96px;
    font-size: 18px;
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    margin-right: 0;
}
.explore{
    margin: 0;
    padding: 0;
}
.exploreBtn{
    width: 272px;
    height: 272px;
    border-radius: 999px;
    border: none;
    font-size: 32px;
    font-family: "Bellefair", serif;
    font-style: normal;
    padding: 0;
    margin-left: 208px;
    position: relative;
    overflow:hidden;
    box-shadow: 0.3s, color 0.3s;
}
.exploreBtn::after{
    content: ''; 
    position: absolute;
    top: 50%; 
    left: 50%;
    width: 300%; 
    height: 300%;
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 50%; 
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s;
    z-index: 0; 
}
.exploreBtn:hover::after {
    transform: translate(-50%, -50%) scale(1); /* Scale up on hover */
}

.exploreBtn:hover {
    cursor: pointer;
    color: black; /* Change text color on hover */
    box-shadow: 0 0 20px rgba(235, 234, 234, 0.7), 0 0 40px rgba(231, 231, 231, 0.5); /* Halo effect */
}